* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 0px 100px;
}

.navPromo {
  background-color: black;
  color: white;
  text-align: center;
  height: 40px;
  padding: 10px;
}

ul {
  list-style-type: none;
}

.hero {
  display: flex;
  justify-content: space-between;
  height: 40vh;
  margin-top: 120px;
}

section {
  margin-top: 50px;
}

.section-wrapper {
  display: flex;
  justify-content: space-between;
}

.section-two {
  height: 45vh;
  padding: 10px;
}

.section-three {
  height: 30vh;
  padding: 20px 0;
}

.section-four {
  height: 45vh;
  padding: 20px 0;
}

.section-five {
  height: 70vh;
  outline: 2px solid black;
}

.section-five-container {
  height: 40%;
  outline: 2px solid green;
}

/* Best selling height determinaiton using classses passed as props */

.semi {
  height: 70%;
}

.full {
  height: 100%;
}

/* Design thingy for the sections */
.design-container {
  display: flex;
  width: max-content;
  align-items: center;
  color: red;
}

.design {
  width: 20px;
  height: 40px;
  background-color: red;
  margin-right: 10px;
  border-radius: 2px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
}

footer {
  background-color: black;
  color: white;
}
